# Ignore node_modules directory
node_modules/
build/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore package-lock.json file
package-lock.json

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore .idea directory (JetBrains IDEs)
.idea/
# Ignore Terraform files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/



# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Miscellaneous
*/frontend/rizzle/.class
*/frontend/rizzle/.log
*/frontend/rizzle/.pyc
*/frontend/rizzle/.swp
/frontend/rizzle/.DS_Store
/frontend/rizzle/.atom/
/frontend/rizzle/.buildlog/
/frontend/rizzle/.history
/frontend/rizzle/.svn/
migrate_working_dir/

# IntelliJ related
*/frontend/rizzle/.iml
*/frontend/rizzle/.ipr
*/frontend/rizzle/.iws
/frontend/rizzle/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
/frontend/rizzle/.dart_tool/
/fronend/rizzle/.flutter-plugins
/frontend/rizzle/.flutter-plugins-dependencies
/frontend/rizzle/.packages
/frontend/rizzle/.pub-cache/
/frontend/rizzle/.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/frontend/rizzle/android/
/frontend/rizzle/ios/
/frontend/rizzle/build/
/frontend/rizzle/ios/Pods/
/fronend/rizzle/web/

